/*General*/
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	html {
		font-size:100%;
	}
	body {
		margin: 0;
		color: #FFF;
		background-color: #263137;
		text-align: center;
		font-family:'FiraSans','Open Sans Light', sans-serif;
		font-size:1.1rem;
	}
	a {
		text-decoration: none;
		color:#FFF;
	}
/*header bar*/
	.Header {
		text-align: left;
		padding:0px;
		background-color:#303D45;
		border-bottom: 1px solid #1E252B;
	}
	.Header-h1 {
		margin: 0;
		padding: .5rem 0;
		font-size: 2rem;

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.Header-h1.title {
		text-align: center;
	}

/*main content*/
	.Main {
		margin: 0 auto 0;
	}
	.Main > * {
		width: 95%;
		margin:1rem auto;
	}
/*homepage navigation*/
	nav ul {
		list-style: none;
		padding: 0;
	}
	nav li {
		line-height: 48px;/*the height of the icons*/
		text-align: left;
	}
	nav li a {
		padding: 1.4rem;
		display: block;
		font-size:1.5rem;
	}
	nav li a img {
		margin-right:1rem;
		border: none;
		float: left;
	}
/*form and ui*/
	input,
	select,
	textarea,
	button {
		border-radius:0px;
		border:0px;
	}
	input,
	select,
	textarea {
		display: block;
		padding: .5rem;
		font-size: 1rem;
		background-color:#fff;
		color:#1E252B:
	}
	input {
		margin-bottom: 1rem;
	}
	label {
		display:block;
		text-align:left;
		padding-left:.5rem;
	}
	input[readonly],
	textarea[readonly] {
		background:none;
		border:none;
		color:#FFF;
	}
	.Button {
		cursor:pointer;
		margin:1rem 0;
		padding:1rem;
		font-size:1.5rem;
		font-weight:bold;
		color:#FFF;
		background:#BB5045;
	}
/**/
	.Back {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.Result {
		width:100%;
		background:#14C598;
		padding:2rem;

	}
/*≠*/
	.note {
		margin-top: 2rem;
		padding:1rem;

		text-shadow:0 1px 1px rgba(0,0,0,.8);
		background-color: #14C598;
		font-weight:bold;
		text-shadow:0 1px 1px #000;
	}
	.all_units {
		text-align:left;
	}
	.all_units input {
		text-align:right;
		width:50%;
	}
	.all_units input,
	.all_units label {
		display:inline;
	}
	.About {
		text-align:left;
	}
	.About a {
		text-decoration:underline;
	}
